configuration {
  show-icons: true;
  monitor: "-4";
  font: "DejaVuSansMono Nerd Font 18";
  modi: "window,run,drun,ssh,filebrowser";

  filebrowser {
    directories-first: true;
  }
}

//@theme "bspwm-theme"

//@theme "/usr/share/rofi/themes/android_notification.rasi"
//@theme "/home/sysop/.config/rofi/themes/bspwm-theme.rasi"
//@theme "/usr/share/rofi/themes/Adapta-Nokto.rasi"
@theme "/home/sysop/.config/rofi/themes/bspwm-theme.rasi"
